:host {
    --background-color:inherit;
    --border-color:var(--color-theme);
    --color:inherit;
    --suggestion-bg-color:inherit;
    --suggestion-color:inherit;
    --suggestion-border-color:var(--background-theme-1);
    display: flex;
    flex-direction: column;
    position: relative;
}

:host(.overlay) [role=listbox]{
    background: inherit;
    box-shadow: 2px 2px 5px 0 var(--background-theme-3);
    position: absolute;
    top: 100%;
    z-index: 9;
}

[role=combobox] {
    border-bottom: 2px solid var(--border-color, currentColor);
    display: flex;
}

#loading-indicator {
    align-items: center;
    display: flex;
    padding: 2px;
    width: 2rem;
}

#loading-indicator > svg {
    animation: 1s linear rotateSpinner;
    animation-iteration-count: infinite;
}

#loading-indicator.hidden > svg {
    visibility: hidden;
}

input {
    background: inherit;
    border: none;
    box-shadow: none;
    color: var(--color);
    flex-grow: 1;
    font-size: 0.9em;
    font-weight: lighter;
    outline: none;
}

svg {
    background: transparent;
    fill:var(--color);
    height: 100%;
    stroke: var(--color);
    width: 100%;
}

ul:empty, ol:empty {
    border-color: transparent;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    font-size: 0.95em;
    padding: 0.5em 1em;
    background: var(--suggestion-bg-color);
    color: var(--suggestion-color);
    transition: all 0.2s;
}

li[aria-selected=true] {
    --suggestion-bg-color: var(--color-theme-1);
    --suggestion-color: var(--font-color-theme-2);
}

li:not(:last-child) {
    border-bottom: 1px solid var(--suggestion-border-color);
}

#my-location:focus, #my-location:hover{
    --color:var(--font-color-theme-2);
    background: var(--color-theme-compl);
}

#my-location{
    --color: var(--color-theme-compl);
    align-self: center;
    background: inherit;
    border: 2px solid var(--color-theme-compl);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    margin: 0.3rem;
    padding: 2px;
    transition: background 0.3s, color 0.3s;
    width: 1.8rem;
}

@keyframes rotateSpinner {
    from {
        transform: rotateZ(0);
    }

    from {
        transform: rotateZ(360deg);
    }
}

