:root {
    --background-theme: #fff;
    --background-theme-1: #f4f4f4;
    --background-theme-2: #ccc;
    --background-theme-3: #919191;
    --color-theme: #ff426f;
    --color-theme-1: #df3b67;
    --color-theme-compl: #55b2ff;
    --color-theme-compl-1: #4c92d6;
    --font-color-theme: #1d1d1d;
    --font-color-theme-1: #555555;
    --font-color-theme-2: var(--background-theme);
}

citykleta-app.dark {
    --background-theme: #333333;
    --background-theme-1: #4c4c4c;
    --background-theme-2: #8a8a8a;
    --background-theme-3: #d0d0d0;
    --color-theme: salmon;
    --color-theme-1: #ff6c5b;
    --color-theme-compl: #64e667;
    --color-theme-compl-1: #64d367;
    --font-color-theme: #f2f2f2;
    --font-color-theme-1: #d7d7d7;
}

body {
    color: var(--color);
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body * {
    box-sizing: inherit;
}
