:root {
    --background-theme: #fff;
    --background-theme-1: #f8f8f8;
    --background-theme-2: #ccc;
    --background-theme-3: #919191;
    --gray-theme-1: #484848;
    --gray-theme-2: #5b5b5b;
    --gray-theme-3: #f0f0f0;
    --color-theme-1: #ff426f;
    --color-theme-2: #df3b67;
    --color-theme-3: #c53760;
    --color-theme-compl-1: #55b2ff;
    --color-theme-compl-2: #4c92d6;
    --color-theme-compl-3: #3c73a8;
}

.theme-dark {
    --background-theme: #383838;
    --background-theme-1: #494949;
    --background-theme-2: #747474;
    --background-theme-3: #eaeaea;
    --gray-theme-1: #f5f5f5;
    --gray-theme-2: #fff;
    --gray-theme-3: #fff;
}

body {
    color: var(--color);
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body * {
    box-sizing: inherit;
}
