@import 'mapbox-gl/dist/mapbox-gl.css';

:root {
    --background: #fcfcfc;
    --background-1: #fff;
    --background-2: #ccc;
    --background-3: #919191;
    --color: #484848;
    --color-1: #5b5b5b;
    --color-2: #f4f4f4;
    --theme-color: #81bde6;
    --theme-color-1: #e65b7b;
}

.theme-dark {
    --background: #383838;
    --background-1: #494949;
    --background-2: #747474;
    --background-3: #eaeaea;
    --color: #f5f5f5;
    --color-1: #fff;
    --color-2: #444;
    --theme-color: #81bde6;
    --theme-color-1: #e65b7b;
}

body {
    box-sizing: border-box;
    color: var(--color);
    display: flex;
    font-family: "Open Sans", "OpenSans", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body * {
    box-sizing: inherit;
}

#map-container {
    background: #94c1e1; /*placeholder*/
    flex-grow: 1;
}

#toolbox-container {
    border-right: 1px solid var(--background-3);
    box-shadow: 1px 0 2px 0 var(--background-3);
    display: flex;
    height: 100%;
    position: absolute;
    transition: transform 0.4s;
    width: 370px;
}

#toolbox-container.hidden {
    transform: translateX(-300px);
}

.tool-container {
    background: var(--background);
    border-right: 1px solid var(--background-2);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tool-container h2 {
    background: var(--background-1);
    border-bottom: 1px solid var(--background-2);
    margin: 0;
    padding: 0.5em;
}

.tool-content {
    padding: 0.5em;
}

.tools-bar {
    background: var(--background-1);
    color:var(--color-1);
    opacity: 0.8;
    width: 70px;
}

.tools-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.tool-item {
    border-color: transparent;
    border-style: solid;
    border-width: 0 3px;
    display: flex;
    height: 70px;
}

.tool-item.hidden {
    visibility: hidden;
}

.tools-bar li.selected {
    border-right-color: var(--theme-color-1);
}

.tools-bar button {
    background: inherit;
    border: 0;
    color: inherit;
    font: inherit;
    font-size: 90%;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.tool-item > button:focus, .tool-item > button:hover {
    background: var(--theme-color);
    color: var(--color-2);
    outline: none;
}

label {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

input {
    font-size: 0.9em;
    font-weight: lighter;
}

.itinerary-stop-point-container {
    border: 1px solid var(--background-2);
    font-size: 90%;
    padding: 0;
}

.itinerary-stop-point {
    background: var(--background-1);
    color: var(--color-1);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em;
}

.itinerary-stop-point:not(:last-child) {
    border-bottom: 1px solid var(--background-2);
}

.itinerary-stop-point > div {
    display: flex;
    flex-direction: column;
}

.drag-handle {
    display: flex;
    background: var(--theme-color-1);
    padding: 0.5em;
    transition: all 0.3s;
}

.drag-handle:hover {
    background: var(--theme-color);
    color: white;
    cursor: grab;
}

.drop-target-before {
    border-top: 2px solid var(--theme-color);
}

.drop-target-after {
    border-bottom: 2px solid var(--theme-color) !important;
}
