@import 'mapbox-gl/dist/mapbox-gl.css';

:root {
    --background: #fff;
    --background-1: #fcfcfc;
    --background-2: #ccc;
    --background-3: #919191;
    --color: #484848;
    --color-1: #5b5b5b;
    --color-2: #f4f4f4;
    --theme-color: #81bde6;
    --theme-color-1: #e65b7b;
}

.theme-dark {
    --background: #383838;
    --background-1: #494949;
    --background-2: #747474;
    --background-3: #eaeaea;
    --color: #f5f5f5;
    --color-1: #fff;
    --color-2: #fff;
    --theme-color: #81bde6;
    --theme-color-1: orangered;
}

body {
    box-sizing: border-box;
    color: var(--color);
    display: flex;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body * {
    box-sizing: inherit;
}

ul:empty, ol:empty {
    border-color: transparent;
}

h1, h2, h3, dl {
    margin: 0;
}

label > span::after {
    content: ':';
}

button {
    background: inherit;
    border: 1px solid currentColor;
    border-radius: 2px;
    color: inherit;
    font: inherit;
    transition: background-color 0.3s, color 0.3s;
}

button:focus, button:hover {
    background: var(--theme-color);
    color: var(--color-2);
    outline: none;
}

#map-container {
    background: #94c1e1; /*placeholder*/
    flex-grow: 1;
}

#toolbox-container {
    --toolbox-container-width: 400px;
    border-right: 1px solid var(--background-3);
    box-shadow: 1px 0 2px 0 var(--background-3);
    display: flex;
    height: 100%;
    position: absolute;
    transition: transform 0.4s;
    width: var(--toolbox-container-width);
}

#toolbox-container.hidden {
    transform: translateX(calc(-1 * (var(--toolbox-container-width) - 70px)));
}

.tool-container {
    background: var(--background);
    border-right: 1px solid var(--background-2);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tool-container h2 {
    background: var(--background-1);
    border-bottom: 1px solid var(--background-2);
    padding: 0.5em;
}

.tool-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 0.5em;
}

#lower-control {
    padding: 1em 0;
}

.tools-bar {
    background: var(--background-1);
    color: var(--color-1);
    opacity: 0.8;
    width: 70px;
}

.tools-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.tool-item {
    border-color: transparent;
    border-style: solid;
    border-width: 0 3px;
    display: flex;
    height: 70px;
}

.tool-item.hidden {
    visibility: hidden;
}

.tools-bar li.selected {
    border-left-color: var(--theme-color-1);
}

.tools-bar button {
    border: 0;
    font-size: 90%;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

input {
    color: inherit;
    font-size: 0.9em;
    font-weight: lighter;
    outline: none;
}

.itinerary-stop-point-container {
    border: 1px solid var(--background-2);
    font-size: 90%;
    padding: 0;
}

.itinerary-stop-point {
    background: var(--background-1);
    color: var(--color-1);
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0.25em;
}

.itinerary-stop-point > * {
    padding: 0.25em;
}

.itinerary-stop-point > label {
    flex-grow: 1;
    margin: 0;
}

.itinerary-stop-point button {
    box-shadow: 0 0 2px 0 var(--theme-color);
    color: var(--theme-color);
}

.itinerary-stop-point button:focus, .itinerary-stop-point button:hover {
    border-color: var(--theme-color);
    color: var(--color-2);
}

.itinerary-stop-point:not(:last-child) {
    border-bottom: 1px solid var(--background-2);
}

.actions-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions-list > button {
    margin: 0.25em 0;
}

.point-info {
    flex-grow: 1;
    padding: 0 0.5em;
}

.point-geolocation {
    align-items: center;
    display: flex;
    font-size: 90%;
    justify-content: space-between;
}

.point-geolocation > dt {
    font-weight: bolder;
    width: 30px;
}

.point-geolocation > dt::after {
    content: ':'
}

.point-geolocation > dd {
    flex-grow: 1;
    font-style: italic;
    margin: 0;
    padding: 0 0.5em;
    text-align: right;
}

.drag-handle {
    display: flex;
    background: var(--theme-color-1);
    padding: 0.5em;
    transition: all 0.3s;
}

.drag-handle:hover {
    background: var(--theme-color);
    color: white;
    cursor: grab;
}

.drop-target-before {
    border-top: 2px solid var(--theme-color);
}

.drop-target-after {
    border-bottom: 2px solid var(--theme-color) !important;
}

[role=combobox] {
    --loading-offset: 2rem;
    display: flex;
    position: relative;
}

[role=combobox] > input {
    background: inherit;
    border: 1px solid var(--background-3);
    height: var(--loading-offset);
    padding-left: var(--loading-offset);
    transition: border-width 0.3s, background 0.3s;
    width: 100%;
}

[role=combobox] > input:focus {
    border-color: var(--theme-color);
    box-shadow: 0 0 4px 0 var(--theme-color);
}

/*todo fix hidden class*/
[role=combobox] > .loading-indicator {
    align-items: center;
    display: flex;
    height: var(--loading-offset);
    justify-content: center;
    padding: 2px;
    position: absolute;
    width: var(--loading-offset);
}

.loading-indicator svg {
    fill: currentColor;
    width: 100%;
}

[role=combobox] > .loading-indicator.hidden {
    display: none;
}

[role=listbox] {
    border-color: var(--background-2);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    list-style: none;
    margin: 0;
    padding: 0;
}

[role=option] {
    font-size: 0.95em;
    padding: 4px;
}

[role=option][aria-selected=true] {
    background: var(--theme-color-1);
    color: var(--color-2);
}

[role=option]:not(:last-child) {
    border-bottom: 1px solid var(--background-2);
}

.info {
    color: var(--color-1);
    font-size: 0.9em;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
