body {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body * {
    box-sizing: inherit;
}

#map-container {
    background: lightskyblue;
    flex-grow: 1;
}

#toolbox-container {
    border-right: 1px solid #989898;
    box-shadow: 1px 0 2px 0 #989898;
    display: flex;
    height: 100%;
    position: absolute;
    transition: transform 0.4s;
    width: 370px;
}

#toolbox-container.hidden {
    transform: translateX(-300px);
}

.tool-container {
    background: #f7f7f7;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tool-container h2 {
    padding: 0.5em;
    margin: 0;
    background: white;
    border-bottom: 1px solid lightgray;
}

.tool-content {
    padding: 0.5em;
}

.tools-bar {
    background: rgba(300, 300, 300, 0.8);
    width: 70px;
}

.tools-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.tool-item {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px;
    display: flex;
    height: 70px;
}

.tool-item.hidden {
    visibility: hidden;
}

.tools-bar li.selected {
    border-right-color: orangered;
}

.tools-bar button {
    background: inherit;
    border: 0;
    font: inherit;
    font-size: 90%;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.tool-item > button:focus, .tool-item > button:hover {
    outline: none;
    background: orange;
    color: white;
}

label {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
}

input{
    font-size: 0.9em;
    font-weight: lighter;
}
